/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*CSS Reset*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a{
  text-decoration: none;
}

/*Edição da página*/

.container-pagina {
  display: flex;
  width: 100%;
  background: #f4f4f4;
  justify-content: center;
}

.btn{
  border: 2px solid #C9CCDF;
  padding: 10px;
  color: #202020;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
}

/* Edição do Conteúdo da Esquerda */
.coluna-esquerda {
  width: 100%;
  padding: 30px 20px;
  margin-left: 150px;
}

.titulo-aside h1{
  font-size: 2.25em;
  text-transform: uppercase;
  color: #313330;
}

.titulo-aside p{
  margin: -20px 0 30px 0;
  font-size: 1.25em;
  color: #9F9F9F;
}

.titulo-aside:nth-child(1){
  border-bottom: 2px solid #c9ccdf;
}

.conteudo-esquerda {
  width: 100%;
  margin: 30px auto;
}

.conteudo-esquerda:nth-child(5){
  padding-bottom: 10px;
  border-bottom: 2px solid #c9ccdf;
}


.conteudo-esquerda figure{
  width: 100%;
  margin-left: -1px;
}

.conteudo-esquerda p{
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -20px;
  padding: 20px;
  background: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.sub-noticias-esquerda{
  display: flex;
  border-bottom: 2px solid #c9ccdf;
  margin-bottom: 30px;
}

.sub-noticias-esquerda p{
  background: transparent;
}

.ler-depois{
  padding-bottom: 40px ;
  border-bottom: 2px solid #c9ccdf;
}

.ler-depois h2{
  text-transform: uppercase;
  color: #313330;
}

.ler-depois article{
  margin-bottom: 25px;
}

/* Conteúdo do lado direito */
.coluna-direita{
  max-width: 70%;
  background: #fff;
  margin: 20px auto;
  padding:  30px;
}

.conteudo-direita h1{
  font-size: 2em;  
  text-transform: uppercase;
  margin: -5px 0;
  color: #313330;
}

.conteudo-direita h3{
  padding-bottom: 20px;
  border-bottom: 2px solid #9F9F9F;
  font-size: 1em;
  color: #574F48;
}

.conteudo-direita figure{
  margin-top: 30px;
}

.texto-noticia-direita p{
  font-size: 1em;
  max-width: 90%;
  margin: 0 auto -24px;
  line-height: 1.75em;
}

.interacao-noticia-direita{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

.btn-direita{
  width: 150px;
  text-align: center;
  padding: 20px;
  margin-right: 400px;
  font-size: 1em;
}

/* Edição dos ícones */
.fab, .fas{
  font-size: 50px;
  color: #313330;
  margin-left: 20px;
}

.fa-heart, .fa-coment{
  font-size: 15px;
  color: #313330;
  margin: 0 25px 0 150px;
}
